body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 181, 148);
}
.header{
    color: crimson;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin-top: 20px;
}
.event-card {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.event-card img {
    width: 100%;
    height: auto;
}
.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.sold-out {
    background-color: #dc3545;
}
.header {
    margin-top: 20px;
}